<!-- <p>employee-list works!</p> -->
<div class="container my-5">
  <h1>Employees</h1>
  <table class="table" *ngIf="employees.length>0">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Salary</th>
      <th>Department</th>
      <th> </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{emp.id}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.phone}}</td>
      <td>{{emp.salary}}</td>
      <td>{{emp.department}}</td>
      <td><a [routerLink]="['/employees','edit', emp.id]">View</a></td>
    </tr>
  </tbody>
  </table>
  <p *ngIf="employees.length<=0">No employees found</p>
</div>
